:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ededed;
}
.header{
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.main{
    max-height: 700px;
    display: flex;
    justify-content: center;
    gap: 50px;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 70px;
}

.main .board{
    display: grid;
    width: 500px;
    height: 500px;
    background:#ededed;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.settings{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
button{
    padding: 10px;
    display: block;
    width: 180px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    transform: scale(1.1);
}
.active {
  background-color: var(--primary-dark);
  color: white;
}

input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
  }
  
  input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
    margin: 0 auto;
  }
  
  input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  input[type='range'] {
    -webkit-appearance: none;
    background-color: var(--primary-light);
  }
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid var(--primary-dark);
    border-radius: 25px;
    background: var(--secondary-light);
  }
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: var(--primary-dark);
  }
  /* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  
  .fa-github {
    color: var(--primary-dark);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }
  
  /* MEDIA QUERIES */
  
  @media (max-width: 1200px) {
    .main {
      justify-content: center;
    }
  }
  
  @media (max-width: 850px) {
    .main {
      gap: 50px;
    }
  
    .settings {
      width: 150px;
      gap: 16px;
    }
  
    .size-value {
      margin-bottom: -4px;
    }
  
    .grid {
      width: 400px;
      height: 400px;
    }
  }
  
  @media (max-width: 650px) {
    .title {
      font-size: 50px;
    }
  
    .main {
      flex-direction: column-reverse;
    }
  
    .grid {
      width: 300px;
      height: 300px;
    }
  }